<!-- <div class="container">
    <h1 class="page-title">Service Details</h1>
    <div class="service-details">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ service.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Location:</strong> {{ service.location }}</p>
          <p><strong>Date:</strong> {{ service.date }}</p>
          <p><strong>Additional Details:</strong> {{ service.details }}</p>
       
        </mat-card-content>
      </mat-card>
    </div>
  </div>
   -->