.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Asigură că containerul ocupă întreaga înălțime a ecranului */
}

.page-title-background {
  margin-top: 50px;
  padding: 20px; /* Add more padding for better spacing */
  background-color: #fff; /* Set the background color of the title to white */
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  font-weight: 900;
}

.service-list {
  margin-bottom: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px; /* Adăugăm padding pentru a separa cardurile de marginile containerului */
}

.service {
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #fff; /* Fondul cardului */
  border-radius: 10px; /* Rotunjirea colțurilor cardului */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbră sub card */
  transition: transform 0.3s;
}

.service:hover {
  transform: scale(1.05); /* Efect de mărire la hover */
}

.service button {
  margin-top: 10px;
}
