<div class="homeForm">
  <h1 class="mesajServicii">Care sunt detaliile suplimentare?</h1>

  <textarea
    id="detailsInput"
    name="detailsInput"
    rows="6"
    cols="50"
    placeholder="Introduceți detaliile aici"
    class="detailsTextArea"
    [(ngModel)]="textAreaValue"
  ></textarea>

  <div class="buttonContainer">
    <button mat-raised-button (click)="back()" color="primary" class="backButton">Inapoi</button>
    <button mat-raised-button (click)="continue()" color="primary" class="submitButton">Continue</button>
  </div>
</div>
