

.homeForm {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
}

.mesajServicii {
  text-align: center;
  margin-bottom: 20px;
}

.detailsTextArea {
  width: 100%;
 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.submitButton,
.backButton {
  padding: 10px 20px;
  border-radius: 5px;
}

.submitButton {
  background-color: rgb(0, 71, 171);
  color: white;
}

.backButton {
  background-color: rgb(0, 71, 171);
  color: white;
}
