<div class="container">
  <h1 class="page-title-background">Servicii Disponibile</h1>
  <div class="service-list">
    <div class="service" *ngFor="let service of servicesRequests | async">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ service.serviciuPrincipal }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Serviciu</strong> {{ service.serviciu_secundar }}</p>
          <p><strong>Oras:</strong> {{ service.orasSelectat }}</p>
          <p><strong>Judet:</strong> {{ service.judetSelectat }}</p>
          <p><strong>Data:</strong> {{ service.dataSelectata }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="aplica(service)">Aplica</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
