<!-- <div *ngFor="let service of servicesRequests | async">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ service.mainService }}</h5>
        <p class="card-text">{{ service.serviciu_secundar }}</p>
        <button class="btn btn-primary" (click)="applyForService(service)">Apply for this service</button>
      </div>
    </div>
  </div> -->

  <div class="container">
    <h1 class="page-title">Servicii Disponibile</h1>
    <div class="service-list">
      <div class="service" *ngFor="let service of services">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ service.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p><strong>Locație:</strong> {{ service.location }}</p>
            <p><strong>Data:</strong> {{ service.date }}</p>
            <p><strong>Detalii suplimentare:</strong> {{ service.details }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" >Aplica</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  