.page-title {
  text-align: center;
}

.service-list {
  margin-bottom: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px; /* Adăugăm padding pentru a separa cardurile de marginile containerului */
}

.service {
  width: calc(33.33% - 20px); /* Afișăm 3 carduri pe rând, scăzând marginul de 20px */
  margin-bottom: 20px;
  background-color: #fff; /* Fondul cardului */
  border-radius: 10px; /* Rotunjirea colțurilor cardului */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Umbră sub card */
  transition: transform 0.3s;
}

.service:hover {
  transform: scale(1.05); /* Efect de mărire la hover */
}

.service p {
  margin: 5px 0;
}

.service button {
  margin-top: 10px;
}

@media (max-width: 992px) {
  .service {
    width: calc(50% - 20px); /* La dimensiuni mai mici, afișăm 2 carduri pe rând */
  }
}

@media (max-width: 768px) {
  .service {
    width: calc(100% - 20px); /* La dimensiuni mai mici, afișăm un singur card pe rând */
  }
}
