<div *ngIf="serviciiAsociateMeserias" class="container">
  <div class="content">
    <h1 class="page-title">Selectează profesiile tale</h1>
    <div class="service-list">
      <div *ngFor="let service of serviciiAsociateMeserias" class="service-item">
        <label class="service-label">
          <mat-checkbox [(ngModel)]="service.selectate"></mat-checkbox>
          {{ service.serviciu }}
        </label>
      </div>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" 
      (click)="salveazaProfesiile()">Salvează Meseriile</button>
    </div>
  </div>
</div>
