.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  body {
    margin: 0;
  }

  .navbar-settings {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: rgb(0, 71, 171);
    z-index: 1;
  }

  .title-color{
    color: white;
    font-size: 22px;
    font-weight: 520;
  }

  .title-color mat-icon {
    color: white;
  }
  
  .user-details button {
    color: white;
    background-color: rgb(0, 71, 171);
  }

  .user-details .button_hovering:hover {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    transition-duration: 0.5s;
  }


  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  