<div class="home-selection">
  <div class="homeForm">
    <h2 class="mesajServicii">De ce servicii aveți nevoie?</h2>
    <ul class="services-list">
      <li
        *ngFor="let item of serviciiPrimare | async"
        class="service"
        (click)="onItemClick(item)"
      >
        {{ item.nume }}
      </li>
    </ul>
    <div *ngIf="!afisareMesajConectare" class="mesajLogare">
      <p>Pentru a putea face o cerere,</p>
      <p>vă rugăm să vă autentificați.</p>
    </div>
  </div>
</div>
