.screenshot-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
  }
  
  h1,
  input,
  .homeForm {
    width: 100%;
  }
  
  .mesajServicii {
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 22px;
    font-weight: 700;
    margin: 10px;
  }
  
  .homeForm {
    margin-top: 0px;
    background-color: white;
    border: 2px solid rgb(71, 73, 76);
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  
  .services {
    opacity: 1;
    color: rgb(0, 71, 171);
    transition: opacity 0.5s ease-in-out;
  
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 17px;
    font-weight: 700;
    margin: 15px;
  }
  
  .services:hover {
    color: white;
    background-color: rgb(0, 71, 171);
  }
  
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: block;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 5px;
  }
  
  .button {
    background-color: white;
    transition: background-color 0.5s ease-in-out;
  }
  
  .button:hover {
    background-color: blue;
  }
  