.home-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.homeForm {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mesajServicii {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.services-list {
  list-style: none;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 17px;
  font-weight: 700;
}


/* Adăugăm un accent albastru pe marginea stângă a fiecărui element */
.service {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative; /* Adăugăm pentru a putea folosi pseudo-elementele */
}

.service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: #007bff; /* Adăugăm un accent albastru pe marginea stângă a fiecărui element */
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.service:hover {
  color: white;
  background-color: #007bff;
}

.conectare-btn {
  display: block;
  margin: 0 auto; /* Center the button horizontally */
  margin-top: 20px; /* Add some top margin for spacing */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove button border */
  border-radius: 5px; /* Add some border radius for rounded corners */
  padding: 1px 60px; /* Padding for button content */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s; /* Smooth background color transition on hover */
}

.conectare-btn:hover {
  background-color: #0056b3; /* Darker background color on hover */
}
