<div class="homeForm">
  <h1 class="mesajServicii">Informatii personale</h1>

  <form class="clientDetailsForm">
    <mat-form-field appearance="outline" class="inputField">
      <input type="text" matInput required placeholder="Nume">
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputField">
      <input type="text" matInput required placeholder="Prenume">
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputField">
      <input type="tel" matInput required placeholder="Telefon">
    </mat-form-field>
    <mat-form-field appearance="outline" class="inputField">
      <input type="email" matInput required placeholder="Email">
    </mat-form-field>
  </form>

  <div class="button-container">
    <button mat-raised-button (click)="back()" color="primary">
      Inapoi
    </button>
    <button mat-raised-button (click)="continue()" color="primary">
      Continue
    </button>


  </div>
</div>
