

.homeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 0px;
  background-color: white;
  border: 2px solid rgb(71, 73, 76);
  opacity: 0.9;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.homeForm h1 {
  font-size: 24px;
  text-align: center;
  margin: 19px;
}

.homeForm mat-form-field {
  width: 80%;
  margin: 10px;
}

.homeForm button {
  width: 60%;
  margin-bottom: 16px;
}