
  <div class="homeForm">
    <h1>Selectați județul și orașul</h1>

    <mat-form-field appearance="outline">
      <mat-label>Județ</mat-label>
      <mat-select (selectionChange)="onJudetChange($event)">
        <mat-option value="">Selectați județul</mat-option>
        <mat-option
          *ngFor="let judet of judete"
          value="{{ judet.numeJudet }}"
          >{{ judet.numeJudet }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Oraș</mat-label>
      <mat-select (selectionChange)="onOrasChange($event)">
        <mat-option value="">Selectați orașul</mat-option>
        <mat-option *ngFor="let oras of orase" value="{{ oras }}">{{
          oras
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Cand?(data lucrarii)"
      (dateChange)="onDatePickerChange($event)"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <button mat-raised-button (click)="continue()" color="primary">
      Continuați
    </button>
    <button mat-raised-button (click)="back()" color="primary">
      Inapoi
    </button>
  </div>
