<div *ngIf="cerereDeServiciuComplet" class="container">
  <h1 class="page-title">Detaliere oportunitate</h1>
  <div class="service-details">
    <div class="detail-item">
      <span class="label">Serviciul:</span>
      <span class="value">{{ cerereDeServiciuComplet.serviciu_secundar }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Oras:</span>
      <span class="value">{{ cerereDeServiciuComplet.orasSelectat }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Judet:</span>
      <span class="value">{{ cerereDeServiciuComplet.judetSelectat }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Data:</span>
      <span class="value">{{ cerereDeServiciuComplet.dataSelectata }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Detalii suplimentare:</span>
      <span class="value">{{
        cerereDeServiciuComplet.detalii_suplimentare
      }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Nume:</span>
      <span class="value">{{ cerereDeServiciuComplet.nume }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Prenume:</span>
      <span class="value">{{ cerereDeServiciuComplet.prenume }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Email:</span>
      <span class="value">{{ cerereDeServiciuComplet.email }}</span>
    </div>
    <div class="detail-item">
      <span class="label">Telefon:</span>
      <span class="value">{{ cerereDeServiciuComplet.telefon }}</span>
    </div>
  </div>
  <div class="submit-button-wrapper">
    <button  mat-raised-button (click)="navigateBack()" color="primary">Înapoi</button>
  </div>
</div>
