.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .service-details {
    display: flex;
    flex-direction: column;
  }
  
  .detail-item {
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .label {
    font-weight: bold;
    color: black;
  }
  
  .value {
    color: #333;
  }
  
  .submit-button-wrapper {
    text-align: center;
    margin-top: 20px;
  }
  